
        .pic-animate{
          opacity: 0;
          transform: translateY(30px);
          animation: showImg 1s forwards;
        }
        @keyframes showImg {
          from{
            opacity: 0;
            transform: translateY(30px);
          }
          to{
            opacity: 1;
            transform: translateY(0);
          }
        }
    
/* CSS Document */

